In [11]:
import pandas as pd

# DF from Series
record1 = pd.Series({'name': 'Alice', 'class': 'physics', 'score': 85})
record2 = pd.Series({'name': 'Jack', 'class': 'math', 'score': 95})
record3 = pd.Series({'name': 'Helen', 'class': 'history', 'score': 90})

print(record1)

df = pd.DataFrame([record1, record2, record3])

print(df)

df = pd.DataFrame([record1, record2, record3], index=['school1', 'school2', 'school3'])

print(df)
df.head()
df.tail()

name       Alice
class    physics
score         85
dtype: object
    name    class  score
0  Alice  physics     85
1   Jack     math     95
2  Helen  history     90
          name    class  score
school1  Alice  physics     85
school2   Jack     math     95
school3  Helen  history     90

          name    class  score
school1  Alice  physics     85
school2   Jack     math     95
school3  Helen  history     90

In [54]:
# DF from list of dictionarie

students =[{'name': 'Alice', 'class': 'physics', 'score': 85},
    {'name': 'Jack', 'class': 'math', 'score': 95},
    {'name': 'Helen', 'class': 'history', 'score': 90}]

df = pd.DataFrame(students, index=['school1', 'school1', 'school2'])
df.tail()
type(df)

pandas.core.frame.DataFrame

In [37]:
def print_obj(obj):
    print("")
    print("Object: ")
    print(obj)
    print("Type: " + str(type(obj)))

# loc, iloc
print(df.loc['school2'])
print(df.iloc[0])
print(type(df.iloc[0]))

print(df.loc['school1'])
# print(df.loc['school3'])

print_obj(df.loc['school1', 'name'])
print_obj(df.loc['school2', 'name'])
print_obj(df.loc['school1', ['name', 'score']])
print_obj(df.loc['school2', ['name', 'score']])

name       Helen
class    history
score         90
Name: school2, dtype: object
name       Alice
class    physics
score         85
Name: school1, dtype: object
<class 'pandas.core.series.Series'>
          name    class  score
school1  Alice  physics     85
school1   Jack     math     95

Object:
school1    Alice
school1     Jack
Name: name, dtype: object
Type: <class 'pandas.core.series.Series'>

Object:
Helen
Type: <class 'str'>

Object:
          name  score
school1  Alice     85
school1   Jack     95
Type: <class 'pandas.core.frame.DataFrame'>

Object:
name     Helen
score       90
Name: school2, dtype: object
Type: <class 'pandas.core.series.Series'>

In [32]:
# transpose
print_obj(df.T)

print_obj(df.T.loc['name'])

print_obj(df['name'])

# df['school1']

Object:
       school1 school1  school2
name     Alice    Jack    Helen
class  physics    math  history
score       85      95       90
Type: <class 'pandas.core.frame.DataFrame'>

Object:
school1    Alice
school1     Jack
school2    Helen
Name: name, dtype: object
Type: <class 'pandas.core.series.Series'>

Object:
school1    Alice
school1     Jack
school2    Helen
Name: name, dtype: object
Type: <class 'pandas.core.series.Series'>

In [33]:
# chained operations
print_obj(df.loc['school1']['name']) # returns copy of DF

Object:
school1    Alice
school1     Jack
Name: name, dtype: object
Type: <class 'pandas.core.series.Series'>

In [47]:
# slicing
df.loc[:, ['name', 'score']]
df.loc[:, ['class', 'score']]
df.iloc[1:].loc[:, ['class', 'score']]

           class  score
school1     math     95
school2  history     90

In [60]:
# dropping
print_obj(df.drop('school1'))
print_obj(df.drop('name', axis=1))
print_obj(df)
df_copy = df.copy()

print_obj(df_copy.drop('school1', inplace=True))
print_obj(df_copy)
print_obj(df)

del df_copy['class']
print_obj(df_copy)

Object:
          name    class  score
school2  Helen  history     90
Type: <class 'pandas.core.frame.DataFrame'>

Object:
           class  score
school1  physics     85
school1     math     95
school2  history     90
Type: <class 'pandas.core.frame.DataFrame'>

Object:
          name    class  score
school1  Alice  physics     85
school1   Jack     math     95
school2  Helen  history     90
Type: <class 'pandas.core.frame.DataFrame'>

Object:
None
Type: <class 'NoneType'>

Object:
          name    class  score
school2  Helen  history     90
Type: <class 'pandas.core.frame.DataFrame'>

Object:
          name    class  score
school1  Alice  physics     85
school1   Jack     math     95
school2  Helen  history     90
Type: <class 'pandas.core.frame.DataFrame'>

Object:
          name  score
school2  Helen     90
Type: <class 'pandas.core.frame.DataFrame'>

In [71]:
# adding column
df['ClassRanking'] = None
print(df)
df['ClassRanking'] = 100
print(df)

          name    class  score ClassRanking
school1  Alice  physics     85         None
school1   Jack     math     95         None
school2  Helen  history     90         None
          name    class  score  ClassRanking
school1  Alice  physics     85           100
school1   Jack     math     95           100
school2  Helen  history     90           100